<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
        <script type="text/javascript">
            var roombooked = "<%=roombooked%>";
            var usernametaken = "<%=usernametaken%>";
            var type ="bc";
             console.log(roombooked);
            console.log(usernametaken);
        </script>
        <script src="/peer.js"></script>
        <script type="text/javascript" src="/streamcontrols.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/bcsocketops.js"></script>
        <script type="text/javascript" src="/peerconnector.js"></script>
        <script type="text/javascript" src="/templating.js"></script>
        <script type="text/javascript" src="/chatpanel.js"></script>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="chatwidget.css" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Latest compiled and minified JavaScript -->
    </head>
    <body>
        <div class="container">
            <div class="row" >
                <div id="main-playing-video" >
                </div>
            </div>
        </div>
        </div>
        <div class="chatwindow">
            <% include /chatcomponents/chatwidget%>
        </div>
        <% include /alertmodals/loadingmodal%>
        <% include /alertmodals/remoteloading%>
        <% include /alertmodals/errorpeermodal%>
        <% include /alertmodals/connectionclosed%>
        <% include /alertmodals/reconnect%>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js">
        </script>
    </body>
</html>
