<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
<!DOCTYPE html>
<html lang="en">
    <% include headfile%>
    <body>
        <div class="alert alert-info text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    This is webrtc demo to create video conferencing sessions or broadcasting sessions where people silently listen
            to the presenter or an instructor led session where the instructor is able to view all his/her students while the student is able to view only
            the instructor. Please use it and let me know your feedback through twitter, facebook or email<br>
                twitter handle - @Uditkhandelwal8 <br>
                facebook - uditk1 <br>
                email - uditk2@gmail.com
                </div>
            </div>

        </div>
        <div class="container">
            <div class="vertical-center-row">
                <table class="table table-bordered text-center" style="width: 40%; margin: auto; top: 50%; vertical-align: middle;">
                    <tr>
                        <td class="active">
                            <a href="/instructor">
                                <i class="fa fa-microphone fa-4x"></i><br>
                            Presenter</a>
                        </td>
                        <td class="success">
                            <a href="/pupil">
                                <i class="fa fa-headphones fa-4x"></i></span><br>
                            Attendees</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <footer>

        </footer>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>