<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
        <link rel="stylesheet" href="style.css" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Latest compiled and minified JavaScript -->
    </head>
    <body>
        <form action="/joining" method="post" class="form-horizontal" style=" margin: auto; width: 60%;">
                <p style="text-align: left; font-size: 20px;"> Hi,<br>
                          Join an ongoing session by entering the details below. </p>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" id="roomname" name="pupil[roomname]" placeholder="Room Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" id="username" name="pupil[username]" placeholder="Username">
                    </div>
                </div>
                <button id="vc-submit" name="vcsubmit" value="vcsubmit" type="submit" class="btn btn-default btn-success">Attend Video Conference</button>
                <button id="bc-submit" name="bcsubmit" value="bcsubmit" type="submit"  class="btn btn-default btn-success">Listen Broadcast</button>
                <button id="ic-submit" name="icsubmit" value="icsubmit" type="submit" class="btn btn-default btn-success">Attend Instructor Led Session</button>

        </form>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
