<!-- Embedded JavaScript -->
<!DOCTYPE html>
<html lang="en">
    <% include headfile%>
    <body>
        <!-- head-->
        <div class="row text-center" style="height: 70px;">
            <div class="col-md-2">
                Video Conference
            </div>
            <div class="col-md-5 col-md-offset-2">
                THe buttons
            </div>
        </div>
        <div class="row text-center" style="90%">
            <div class="col-md-2">
                This is one part
            </div>
            <div class="col-md-8">
                this is the other part
            </div>
            <div class="col-md-2">
                the last part I would say.
            </div>
        </div>
    </body>
</html>