<!-- Embedded JavaScript -->
<div id="welcomescreen" class="alert alert-success welcome">
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></span>
        <input type="text" class="form-control" id="roomname" placeholder="Room Name">
    </div>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
        <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
    <button class="btn btn-default btn-success" onclick="sendInformation()">JOIN</button>
</div>
<script type="text/javascript">
            var remoteWaitingModalDisplayed = false;
            function sendInformation() {
                var roomName = document.getElementById('roomname').value;
                var userName = document.getElementById('username').value;
                roombooked = roomName;
                usernametaken = userName;
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://192.168.1.7:8124/register?roomname="+roomName+"&username="+userName, false);
                xhr.send();
                console.log(xhr.status);
                console.log(xhr.statusText);
                //xmlhttp = new XMLHttpRequest();
                //xmlhttp.open("GET", "/register?roomname="+roomName+"&username="+userName, true);
                //xmlhttp.onreadystatechange = function () {
                //    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                //        var string = xmlhttp.responseText;
                //        alert("Message from server " + string);
                //    }
                //}
                //xmlhttp.send();
            //    $('#waitingModal').modal('show');
            //   getUserMedia();
              // setPeer(roomName, userName);
            }
    
            // If there is a modal open then hide the modal.
            function hideRemotePeerModalIfDisplayed() {
            if (remoteWaitingModalDisplayed) {
                if ($("#remoteLoadingErrorModal") != null && $("#remoteLoadingErrorModal").data('bs.modal') != null
                && $("#remoteLoadingErrorModal").data('bs.modal').isShown) {
                    $('#remoteLoadingErrorModal').modal('hide');
                    $('#remoteLoadingErrorModal').on('hidden.bs.modal', '.modal', function () {
                        $(this).removeData('bs.modal');
                    });
                }
                if ($("#remoteWaitingModal") != null && $("#remoteWaitingModal").data('bs.modal') != null &&
                $("#remoteWaitingModal").data('bs.modal').isShown) {
                    $('#remoteWaitingModal').modal('hide');
                    $('#remoteWaitingModal').on('hidden.bs.modal', '.modal', function () {
                        $(this).removeData('bs.modal');
                    });
                }
                remoteWaitingModalDisplayed = false;
            }
        }
    
</script>
