<!-- Embedded JavaScript -->
<span class="chat-img pull-left">
    <img src=<%=userimagelink%> alt="User Avatar" class="img-circle" />
</span>
<div class="chat-body clearfix">
    <div class="header">
        <strong class="primary-font"><%=username%></strong>
        <small class="pull-right text-muted">
            <span class="glyphicon glyphicon-time"></span><%=chattime%></small>
    </div>
    <p>
                                <%=chatmessage%>
    </p>
</div>