<!-- Embedded JavaScript -->
<span class="chat-img pull-right">
    <img src=<%=userimagelink%> alt="User Avatar" class="img-circle" />
</span>
<div class="chat-body clearfix">
    <div class="header">
        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%=chattime%></small>
        <strong class="pull-right primary-font"><%=username%></strong>
    </div>
    <p>
                             <%=chatmessage%>
    </p>
</div>