<!-- Embedded JavaScript -->
<!--<div class="container">
    <div class="row">
        <div class="col-md-5">-->
            <div style="width: 20%; min-width: 250px;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <!--<div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                                    </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                                    </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                                    </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>-->
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <ul id="chatbody" class="chat">


                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" onkeyup="submitText(event)" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" onclick="sendChatToClients()">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
                </div>
        <!--</div>
    </div>
</div>-->

<template id="left-template">
    <li class="left clearfix">
        <span class="chat-img pull-left">
            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle userimage" />
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <strong class="primary-font username"></strong>
                <small class="pull-right text-muted chattime">
                    <span class="glyphicon glyphicon-time"></span></small>
            </div>
            <p class="chatmessage">
                                   
            </p>
        </div>
    </li>
</template>

<template id="right-template">
    <li class="right clearfix"><span class="chat-img pull-right">
            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle userimage" />
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <small class=" text-muted"><span class="glyphicon glyphicon-time chattime"></span></small>
                <strong class="pull-right primary-font username"></strong>
            </div>
            <p class="chatmessage">
                                   
            </p>
        </div>
    </li>
</template>
<template id="newjoineeChat">
    <li class="right clearfix">
          <div class="alert alert-success">
             <p class="newuserintro"></p>  has joined
          </div>
    </li>
</template>