<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
<div id="remoteLoadingErrorModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>There seems to be a connection issue with the remote person. Please wait while we try again to connect you to the other person. <i class="fa fa-cog fa-spin"></i></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->