<!-- Embedded JavaScript -->
<div id="waitingModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Please wait while we set up your web-cam and mic for the session <i class="fa fa-cog fa-spin"></i></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->