<!-- Embedded JavaScript -->
<!-- Embedded JavaScript -->
<div id="reconnectionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Connection Error</h4>
      </div>
      <div class="modal-body">
        <p>Error in connecting to the peer. Do you wish to reconnect?</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">No</button>
        <button type="button" data-dismiss="modal" onclick="reconnect()" class="btn btn-primary">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->