<!-- Embedded JavaScript -->
<div id="remoteWaitingModal" class="modal fade" data-backdrop="static" 
   data-keyboard="false" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p class="alertstatement">We have a remote person joining in. Please wait while we connect you to the remote peer. <i class="fa fa-cog fa-spin"></i></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->