body {
    background-image: url(/bgimage.jpg);
    height: 80%;
}
html, .container {
    height: 80%;
    
}

.container {
    display: table;
    vertical-align: middle;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
