.chatwindow {
    position: fixed;
    left: 0;
    margin-bottom: 20px;
    bottom: 0;

}

.welcome {
    width: 80%;
    margin: auto;
    vertical-align: central;
}

.mutebutton {
    position: fixed;
    float: right;
}

.hdbutton {
    position: fixed;
    float: right;
    margin: 100px;
}

body {
    height: 80%;
    background-image: url(/bgimage.jpg);
}